# coding: utf-8

"""
    MessageMedia REST API

    Australia’s Leading Messaging Solutions for Business and Enterprise.

    OpenAPI spec version: 1.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
"""

from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class RepliesApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def replies_confirmed_post(self, reply_id, **kwargs):
        """
        Confirm the receipt of replies.
        The confirm replies endpoint will update the specified replies as confirmed, confirmed replies will no longer be returned in check replies requests.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.replies_confirmed_post(reply_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param ReplyId reply_id: A list of reply IDs to mark as confirmed. (required)
        :param str account: The account to use for this request. This account will be used for the request instead of the account assigned to the API key used to sign the request, allowing one API key to be used to perform requests on behalf of other accounts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.replies_confirmed_post_with_http_info(reply_id, **kwargs)
        else:
            (data) = self.replies_confirmed_post_with_http_info(reply_id, **kwargs)
            return data

    def replies_confirmed_post_with_http_info(self, reply_id, **kwargs):
        """
        Confirm the receipt of replies.
        The confirm replies endpoint will update the specified replies as confirmed, confirmed replies will no longer be returned in check replies requests.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.replies_confirmed_post_with_http_info(reply_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param ReplyId reply_id: A list of reply IDs to mark as confirmed. (required)
        :param str account: The account to use for this request. This account will be used for the request instead of the account assigned to the API key used to sign the request, allowing one API key to be used to perform requests on behalf of other accounts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['reply_id', 'account']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method replies_confirmed_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'reply_id' is set
        if ('reply_id' not in params) or (params['reply_id'] is None):
            raise ValueError("Missing the required parameter `reply_id` when calling `replies_confirmed_post`")

        resource_path = '/replies/confirmed'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}
        if 'account' in params:
            header_params['Account'] = params['account']

        form_params = []
        local_var_files = {}

        body_params = None
        if 'reply_id' in params:
            body_params = params['reply_id']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['hmac']

        return self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type=None,
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))

    def replies_get(self, **kwargs):
        """
        Check for unconfirmed replies.
        The replies endpoint returns the first 100 reply messages that have been received and haven't been confirmed using the confirm replies endpoint.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.replies_get(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account: The account to use for this request. This account will be used for the request instead of the account assigned to the API key used to sign the request, allowing one API key to be used to perform requests on behalf of other accounts.
        :return: Replies
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.replies_get_with_http_info(**kwargs)
        else:
            (data) = self.replies_get_with_http_info(**kwargs)
            return data

    def replies_get_with_http_info(self, **kwargs):
        """
        Check for unconfirmed replies.
        The replies endpoint returns the first 100 reply messages that have been received and haven't been confirmed using the confirm replies endpoint.

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.replies_get_with_http_info(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str account: The account to use for this request. This account will be used for the request instead of the account assigned to the API key used to sign the request, allowing one API key to be used to perform requests on behalf of other accounts.
        :return: Replies
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method replies_get" % key
                )
            params[key] = val
        del params['kwargs']

        resource_path = '/replies'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}
        if 'account' in params:
            header_params['Account'] = params['account']

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['hmac']

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='Replies',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))
